/* Cart container adjustments for responsiveness */
.cart-container {
  position: relative; /* Allow stacking in smaller screens */
  width: 100%; /* Responsive width */
  padding: 20px;
  background-color: rgba(255, 255, 255, 1); /* Opaque background */
  box-sizing: border-box;
  border-radius: 5%;
}

/* Product List in Cart */
.cart .list-group {
  display: block;
}

.cart-list .cart-item {
  display: block;
  margin-left: 0;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

/* Cart Header */
.cart-header {
  text-align: left;
  color: brown;
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1); /* Opaque white background */
  width: 100%;
}

.cart-body {
  background-color: rgba(255, 255, 255, 1); /* Consistent background */
}

/* Order and Price Container */
.cart-total,
.cart-price {
  display: inline;
  margin-right: 1em;
}
.cart-total {
  font-size: 15px;
}

.cart-quantities {
  display: inline;
}

/* Ensure Cart is visually distinct */
.cart-footer {
  border-top: 1px solid #ddd; /* Add a top border for separation */
  padding-top: 10px;
  text-align: center;
}
