/* Fixed Cart Container on the Right */
.cart-container {
  position: absolute; /* Fixed the cart on the screen */
  top: 2.5em; /* Adjust distance from the top of the screen */
  right: 5em; /* Adjust distance from the right */
  width: 100%; /* Cart width */
  padding: 20px;
  background-color: rgba(255, 255, 255, 255);
  border: 10%;
  box-sizing: border-box;
  border-radius: 5%;
}

/* Product List in Cart */
.cart .list-group {
  display: block;
}

.cart-list .cart-item {
  display: block;
  margin-left: 0;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

/* Cart Header */
.cart-header {
  text-align: left;
  color: brown;
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 255);
  width: 100%;
}
.cart-body {
  background-color: rgba(255, 255, 255, 255);
}

/* Order and Price Container */
.cart-total,
.cart-price {
  display: inline;
  margin-right: 1em;
}
.cart-total {
  font-size: 15px;
}

.cart-quantities {
  display: inline;
}
